.home-page {
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 10%;
}

.home-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-cont > p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

.banner {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 3rem;
}
