.modal {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
    margin: 8px;
    padding: 16px;
    box-shadow: 0px 0px 10px #444;
    display: none;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.modal_success {
    background-color: rgba(90, 200, 90, 0.2);
    border: 2px solid rgba(127, 255, 127, 0.8);
    padding: 16px;
    box-shadow: 0px 0px 4px #3a3;
    color: #cfc;
    display: flex;
}

.modal_error {
    background-color: rgba(200, 90, 90, 0.2);
    border: 2px solid rgba(255, 127, 127, 0.8);
    padding: 16px;
    box-shadow: 0px 0px 4px #a33;
    color: #fcc;
    display: flex;
}

.modal_warn {
    background-color: rgba(200, 200, 90, 0.2);
    border: 2px solid rgba(255, 255, 127, 0.8);
    padding: 16px;
    box-shadow: 0px 0px 4px #aa3;
    color: #ffc;
    display: flex;
}
