* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    color: white;
    box-sizing: border-box;
    color-scheme: dark;
}

html {
    height: 100%;
}

body {
    margin: 0%;
    background-color: #111;
    height: 100vh;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 1rem;
    color: white;
    text-decoration: none;
    display: block;
    /* width: fit-content; */

    background-color: rgba(255, 255, 255, 0.1);

    transition: all 0.2s;
    margin: 4px;

    border: 2px solid rgba(127, 255, 127, 0.1);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 255, 0, 0.2);
    border: 2px solid rgba(127, 255, 127, 0.1);
}

.btn-small {
    padding: 0.25rem;
    margin: 2px;
}

.btn-wide {
    width: auto;
}

.no-link {
    text-decoration: none;
}

.mr-lft-auto {
    margin-left: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input {
    background-color: #333;
    border: 2px solid rgba(64, 127, 64, 0.1);

    padding: 8px;

    outline: none;
    transition: 0.2s all;
}

.input:focus {
    background-color: #333f33;
    border: 2px solid #335a33;

    color: #efe;
}

.home-page {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-container > span {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 2px;
}

.display-none {
    display: none;
}

.footer {
    text-align: center;
}
