.user-list-comp {
    border: 1px solid black;
    margin: 2px;
    display: flex !important;
}

.user-list-comp:hover {
    background-color: #aaa;
}

.chat-users-list {
    display: flex;
    flex-direction: column;
}

.user-list-comp > .username {
    width: 80%;
    text-align: left;
}

.user-list-comp > .messages {
    display: flex;
    color: #888;
}
